body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.thumbnail audio {
    width: 100%;
    margin: 10px 0;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.copyleft {
    margin: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    flex-grow: 1;
}